@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

span.material-icons.small-icon {
    font-size: 16px;
    float: right;
}

.material-icons{
    display: inline-flex;
    vertical-align: middle;
}